<h1>在云上</h1>
<h4>随Jack去旅行</h4>

<hr style="height:1px;border:none;border-top:0.5px dashed #0066CC;" />

<table>
	<tr>
		<td>联系我</td>
	</tr>
	<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
	<tr>
		<td>email: zewei.dan@foxmail.com</td>
	</tr>
	<tr>
		<td>github: https://github.com/zeweidan</td>
	</tr>
</table>
<hr style="height:1px;border:none;border-top:0.5px dashed #0066CC;" />

<br />
<%= link_to '在云上', articles_path %>